@font-face {
  /**
   * By Andrew Tyler (www.AndrewTyler.net and font@andrewtyler.net)
   * Creative Commons BY-SA license
   */
  font-family:  NotoSans.ttf;
  src: url( NotoSans-Regular.ttf);
}

* {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
} /* FTW! */


/**
 * Base styles
 */
html {
  height: 100%;
  font-family:  NotoSans.ttf;
}

body {
  min-height: 100%;
  position: relative;
  text-align: center;
  background-color: black;
}body:after {
   content: '';
   display: block;
   height: 100px;
 }

.logo {
  margin: 0;
  font-family:  NotoSans.ttf;
  font-size: 72px;
  color: white;
  text-shadow: 0 0 5px black;
}

.logo-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

.background {
  background: url(../img/backgrounds/1.jpg) 0 0 no-repeat;
  background-size: cover;
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: -1;
}

/**
 * Mini player styles
 */

.player {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 10px;
  line-height: 20px;
  color: white;
  text-shadow: -1px 1px 1px black;

  display: none; /* initial */
}
.player-btn {
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.player-btn:before {
  font-weight: bold;
  content: "▶";
}
.player-btn.playing:before { content: "||"; }

.player-title {
  color: white;
  text-decoration: none;
}

/**
 * Menu buttons and thumbnails
 */
nav > div { display: none; } /** initial menu state **/
nav > div > a {
  display: block;
  margin: 15px auto;
  width: 192px;
  height: 32px;
  padding-top: 8px;

  background: url(../img/button.png) no-repeat;
  text-decoration: none;
  color: white;
  text-shadow: -1px 1px 1px black;
}
nav > div > a:hover {
  background-image: url(../img/button_hover.png);
  color: yellow;
}

nav a.back { margin-top: 60px; }
nav .thumbs a { display: inline-block; }

/**
 * Social and other buttons
 * TODO: transform them into CSS sprite
 */

.social-buttons-wrapper {
  display: inline-block;
}

@media only screen and (min-height: 100px) {
  .wrapper-for-centering {
    margin-top: 15%;
    margin-bottom: 5%;
  }
}

@media only screen and (min-height: 500px) {
  .wrapper-for-centering {
    margin-top: 20%;
    margin-bottom: 5%;
  }
}

#menu {
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}
footer a {
  display: inline-block;
  width: 48px;
  height: 48px;
}
footer a {
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: gray; /* IE6-9 */
}
footer a:hover { filter: none; -webkit-filter: none; }

.fb      { background-image: url(../img/footer_buttons/fb.png); }
.tw      { background-image: url(../img/footer_buttons/tw.png); }
.gp      { background-image: url(../img/footer_buttons/gp.png); }
.yt      { background-image: url(../img/footer_buttons/yt.png); }
.ri      { background-image: url(../img/footer_buttons/ri.png); }
.gh      { background-image: url(../img/footer_buttons/gh.png); }
.jenkins { background-image: url(../img/footer_buttons/jenkins.png); }
.wp      { background-image: url(../img/footer_buttons/wp.png); }
.dc      { background-image: url(../img/footer_buttons/dc.png); }

