@font-face {
  /**
   * By Andrew Tyler (www.AndrewTyler.net and font@andrewtyler.net)
   * Creative Commons BY-SA license
   */
  font-family: Minecraftia;
  src: url(Minecraftia.ttf);
}

* {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
} /* FTW! */


/**
 * Base styles
 */
html, body {
  width: 100%;
  height: 100%;
}

body {
  text-align: center;
  background-color: black;
}

.logo {
  margin: 0;
  font-family: Minecraftia;
  font-size: 72px;
  color: white;
  text-shadow: 0 0 5px black;
}

.background {
  background: url(img/backgrounds/1.jpg) 0 0 no-repeat;
  background-size: cover;
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: -1;
}

.content {
  width: 650px;
  height: 100%;
  margin: 0 auto;
  display: table;
  overflow: hidden;
}

.wrapper-for-centering {
  display: table-cell;
  vertical-align: middle;
}

/**
 * Menu buttons and thumbnails
 */
.menu > div { display: none; } /** initial menu state **/
.menu > div > a {
  display: block;
  margin: 15px auto;
  width: 256px;
  height: 29px;

  background: url(img/button.jpg) no-repeat;
  text-decoration: none;
  color: white;
  font-family: Minecraftia;
  text-shadow: -1px 1px 1px black;
}
.menu > div > a:hover { background-image: url(img/button_hover.jpg); }
.menu a.back { margin-top: 60px; }
.menu .thumbs a { display: inline-block; }

/**
 * Social and other buttons
 * TODO: transform them into CSS sprite
 */
.footer {
  margin-top: 50px;
  margin-bottom: 50px;
}
.footer a {
  display: inline-block;
  width: 48px;
  height: 48px;
}

.fb            { background-image: url(img/footer_buttons/fb.png); }
.fb:hover      { background-image: url(img/footer_buttons/fb_hover.png); }

.tw            { background-image: url(img/footer_buttons/tw.png); }
.tw:hover      { background-image: url(img/footer_buttons/tw_hover.png); }

.gp            { background-image: url(img/footer_buttons/gp.png); }
.gp:hover      { background-image: url(img/footer_buttons/gp_hover.png); }

.yt            { background-image: url(img/footer_buttons/yt.png); }
.yt:hover      { background-image: url(img/footer_buttons/yt_hover.png); }

.ri            { background-image: url(img/footer_buttons/ri.png); }
.ri:hover      { background-image: url(img/footer_buttons/ri_hover.png); }

.gh            { background-image: url(img/footer_buttons/gh.png); }
.gh:hover      { background-image: url(img/footer_buttons/gh_hover.png); }

.jenkins       { background-image: url(img/footer_buttons/jenkins.png); }
.jenkins:hover { background-image: url(img/footer_buttons/jenkins_hover.png); }

.wp            { background-image: url(img/footer_buttons/wp.png); }
.wp:hover      { background-image: url(img/footer_buttons/wp_hover.png); }
