---
permalink: /404.html
---
<html>
<head>
  <meta charset="utf-8">
  <meta name="keywords" content="Terasology, Minecraft, Open, Source, Free, Dwarf, Fortress, Dungeon, Keeper, Voxel, Creature, Creatures, Empire, Civilization, Portal, Moving, Blocks">
  <title> Terasology Project | 404 </title>
  {% include imports.html %}
  <style>
    body{
      background-color: #8bc34a !important;
    }
    .content-text {
      font-family: 'Acme', sans-serif;
      font-size: 3em;
    }
    .main-text {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 10em;
    }
    .logo {
      margin-bottom: 10%;
    }
    .btn-large {
      margin-top: 15px;
      width: 100%;
    }
  </style>
</head>
<body>
  <main>
    <div class="container">
      <center>
        <div class="row">
          <img alt="Terasology" class="logo responsive-img" src="{{site.baseurl}}/img/logo.png">
        </div>
        <div class="row">
          <div class="main-text light-green-text text-darken-4">404</div>
        </div>
        <div class="row">
          <div class="content-text light-green-text text-darken-3">This is not the page you are looking for...</div>
        </div>
        <div class="row">
          <div class="col s12 m10 l6 offset-m1 offset-l3"><a href="{{ site.baseurl }}/" class="waves-effect waves-teal btn-large blue-grey darken-4">Run back to base!</a></div>
        </div>
      </center>
    </div>
  </main>

  {% include footer.html %}
</body>
</html>
