---

---

<html>
    <head>
        <meta charset="utf-8">
        <meta name="google-site-verification" content="1Zo5ff2j0ysKtpdf-TvSQW6y2-hoD3ASV1CiR9Bq6-0" />
        <meta name="keywords" content="Terasology, Minecraft, Open, Source, Free, Mahmood, Dhia, Dwarf, Fortress, Dungeon, Keeper, Voxel, Creature, Creatures, Empire, Civilization, Portal, Moving, Blocks" />
            <title>Terasology Google Code-in 2017</title>
            {% include imports.html %}
            <link type="text/css" rel="stylesheet" href="{{ "/css/gci17.css" | prepend: site.baseurl }}" media="screen,projection"/>
            <!--Let browser know website is optimized for mobile-->
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        {% include nav.html %}
        <main>
            <div class="slider">
                <ul class="slides">
                    <li>
                    <img src="img/ss_1.jpg"> <!-- random image -->
                    </li>
                    <li>
                    <img src="img/ss_2.jpg"> <!-- random image -->
                    </li>
                    <li>
                    <img src="img/ss_3.jpg"> <!-- random image -->
                    </li>
                    <li>
                    <img src="img/ss_4.jpg"> <!-- random image -->
                    </li><
                </ul>
            </div>
            <div class="section white">
                <div class="container">
                    <div class="card-panel green lighten-3">
                        <div class="row">
                            <h1 class="header green-text text-darken-3"><center>Mentor</center></h1>
                                <div class="container">
                                    {% for mentor in site.mentors %}
                                    {% assign loopindex = forloop.index | modulo: 2 %}
                                    {% if loopindex == 1 or forloop.first %}
                                    <div class="row hide-on-small-only">
                                    {% endif %}
                                        <div class="col m6">
                                            <div class="card light-green lighten-5">
                                                <div class="card-content black-text">
                                                    <img class="img-circle" src="https://github.com/{{ mentor.github }}.png?size=100">
                                                    <div class="card-text">
                                                        <span class="card-title">{{ mentor.name }}</span>
                                                        GitHub: <a href="https://github.com/{{ mentor.github }}">@{{ mentor.github }}</a>
                                                    </div>
                                                </div>
                                                <div class="card-action">
                                                    <div class="chip light-green lighten-2">
                                                        <img src="flags/{{ mentor.country }}.svg" alt="Flag">
                                                        <script>getCountryName("{{ mentor.country }}")</script>
                                                    </div>
                                                    <div class="chip light-green lighten-2">
                                                      Local Time:
                                                      <script>
                                                        document.write(moment.tz(moment(), '{{ mentor.timezone }}').format('HH:mm [(GMT] Z[)]'));
                                                      </script>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% if loopindex == 0 or forloop.last %}
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                    {% for mentor in site.mentors %}
                                    {% assign loopindex = forloop.index%}
                                    {% if loopindex == 1 or forloop.first%}
                                    <div class="row hide-on-med-and-up">
                                    {% endif %}
                                        <div class="col s12">
                                          <div class="card light-green lighten-5">
                                              <div class="card-content black-text">
                                                  <img class="img-circle" src="https://github.com/{{ mentor.github }}.png?size=100">
                                                  <div class="card-text">
                                                      <span class="card-title">{{ mentor.name }}</span>
                                                      GitHub: <a href="https://github.com/{{ mentor.github }}">@{{ mentor.github }}</a>
                                                  </div>
                                              </div>
                                              <div class="card-action">
                                                  <div class="chip light-green lighten-2">
                                                      <img src="flags/{{ mentor.country }}.svg" alt="Flag">
                                                      <script>getCountryName("{{ mentor.country }}")</script>
                                                  </div>
                                                  <div class="chip light-green lighten-2">
                                                    Local Time:
                                                    <script>
                                                      document.write(moment.tz(moment(), '{{ mentor.timezone }}').format('HH:mm [(GMT] Z[)]'));
                                                    </script>
                                                  </div>
                                              </div>
                                          </div>
                                        </div>
                                    {% if loopindex == 0 or forloop.last %}
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                        </div>
                    </div>
        <br /><br />
                    <div class="card-panel green lighten-3">
                        <div class="row">
                            <h1 class="header green-text text-darken-3"><center>Students</center></h1>
                            <div class="container">
                                {% for student in site.students %}
                                {% assign loopindex = forloop.index | modulo: 2 %}
                                {% if loopindex == 1 or forloop.first %}
                                <div class="row hide-on-small-only">
                                    {% endif %}
                                    <div class="col m6">
                                      <div class="card light-green lighten-5">
                                          <div class="card-content black-text">
                                              <img class="img-circle" src="https://github.com/{{ student.github }}.png?size=100">
                                              <div class="card-text">
                                                  <span class="card-title">{{ student.name }}</span>
                                                  GitHub: <a href="https://github.com/{{ student.github }}">@{{ student.github }}</a>
                                              </div>
                                          </div>
                                          <div class="card-action">
                                              <div class="chip light-green lighten-2">
                                                  <img src="flags/{{ student.country }}.svg" alt="Flag">
                                                  <script>getCountryName("{{ student.country }}")</script>
                                              </div>
                                              <div class="chip light-green lighten-2">
                                                Local Time:
                                                <script>
                                                  document.write(moment.tz(moment(), '{{ student.timezone }}').format('HH:mm [(GMT] Z[)]'));
                                                </script>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                    {% if loopindex == 0 or forloop.last %}
                                </div>
                                {% endif %}
                                {% endfor %}
                                {% for student in site.students %}
                                {% assign loopindex = forloop.index%}
                                {% if loopindex == 1 or forloop.first%}
                                <div class="row hide-on-med-and-up">
                                    {% endif %}
                                    <div class="col s12">
                                      <div class="card light-green lighten-5">
                                          <div class="card-content black-text">
                                              <img class="img-circle" src="https://github.com/{{ student.github }}.png?size=100">
                                              <div class="card-text">
                                                  <span class="card-title">{{ student.name }}</span>
                                                  GitHub: <a href="https://github.com/{{ student.github }}">@{{ student.github }}</a>
                                              </div>
                                          </div>
                                          <div class="card-action">
                                              <div class="chip light-green lighten-2">
                                                  <img src="flags/{{ student.country }}.svg" alt="Flag">
                                                  <script>getCountryName("{{ student.country }}")</script>
                                              </div>
                                              <div class="chip light-green lighten-2">
                                                Local Time:
                                                <script>
                                                  document.write(moment.tz(moment(), '{{ student.timezone }}').format('HH:mm [(GMT] Z[)]'));
                                                </script>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                    {% if loopindex == 0 or forloop.last %}
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <br /><br />
                    <div class="divider"></div>
                    <br /><br />
                </div>
            </div>
            <div class="section grey lighten-3">
                <div class="container">
                </div>
            </div>
            <div class="parallax-container">
                <div class="parallax"><img src="img/ss_2.jpg"></div>
            </div>
        </main>
    {% include footer.html %}
    </body>
</html>
