<!-- Start ignoring HTMLLintBear -->
<footer class="page-footer light-green darken-2">
  <div class="container">
    <div style="text-align: center;"><br>
      <a style="margin-right: 10px" aria-label="Terasology on GitHub" href="https://github.com/MovingBlocks/Terasology" class="btn-floating green darken-1 waves-effect waves"><i class="white-text fa fa-github"></i></a>
      <a style="margin-right: 10px" aria-label="Terasology on Facebook" href="https://www.facebook.com/Terasology" class="btn-floating blue darken-1 waves-effect waves"><i class="white-text fa fa-facebook"></i></a>
      <a style="margin-right: 10px" aria-label="Terasology on Twitter" href="https://twitter.com/terasology" class="btn-floating light-blue darken-1 waves-effect waves"><i class="white-text fa fa-twitter"></i></a>
      <a style="margin-right: 10px" aria-label="Terasology on Disord" href="https://discord.gg/terasology" class="btn-floating indigo accent-1 waves-effect waves"><img alt="Discord" src="https://discordapp.com/assets/1c8a54f25d101bdc607cec7228247a9a.svg" style="margin: 19%;" width="24" height="24"></a>
      <a style="margin-right: 10px" aria-label="Terasology on Youtube" href="https://www.youtube.com/user/blockmaniaTV" class="btn-floating red darken-1 waves-effect waves"><i class="white-text fa fa-youtube"></i></a>
      <a style="margin-right: 10px" aria-label="Terasology on Reddit" href="https://reddit.com/r/Terasology" class="btn-floating red darken-1 waves-effect waves"><i class="white-text fa fa-reddit"></i></a>
      <a style="margin-right: 10px" aria-label="Terasology on Google+" href="https://plus.google.com/103835217961917018533" class="btn-floating red darken-2 waves-effect waves"><i class="fa fa-google-plus-square white-text"></i></a>
      <a style="margin-right: 10px" aria-label="Terasology on IRC" href="http://webchat.freenode.net/?channels=terasology&uio=d4?channels=%23terasology&nick=Terasologist...&prompt=1&useUserListIcons=true" class="btn-floating red darken-3 waves-effect waves"><i class="fa fa-comments"></i></a>
    </div><br>
  </div>
    <div class="page-footer light-green darken-3">
      <div class="container">
        <div style="text-align: center;">
          <strong><a class="light-green-text">Licensed under </a><a class="green-text text-darken-4" href="https://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a></strong>
        </div><br>
      </div>
    </div>
</footer>
<!-- Stop ignoring HTMLLintBear -->
