<div class="card horizontal">
  <div class="card-image" style="padding:1em;">
    <a href="https://github.com/{{ include.github }}">
    <img src="https://avatars.githubusercontent.com/{{ include.github }}" style="border-radius:50%; height:8em;" />
    </a>
  </div>
  <div class="card-stacked">
    <div class="card-content">
      <p class="grey-text">{{ include.name }}</p>
      <p class="card-title text-darken">{{ include.title}}</p>
    </div>
    <div class="card-action">
      <a href="{{ include.project }}">Project Card</a>
    </div>
  </div>
</div>