<!-- Start ignoring HTMLLintBear -->
    <div class="fixed-action-btn click-to-toggle hide-on-small-only">
      <a class="btn-floating btn-large red waves-effect waves">
        <i class="fa fa-address-book"></i>
      </a>
      <ul>
        <li><a href="https://www.facebook.com/Terasology" class="btn-floating blue darken-1 waves-effect waves"><i class="white-text fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/terasology" class="btn-floating light-blue darken-1 waves-effect waves"><i class="white-text fa fa-twitter"></i></a></li>
        <li><a href="https://discord.gg/4uKbB8J" class="btn-floating light-blue darken-3 waves-effect waves"><i class="white-text fa fa-comments"></i></a></li>
        <li><a href="https://www.youtube.com/user/blockmaniaTV" class="btn-floating red darken-1 waves-effect waves"><i class="white-text fa fa-youtube"></i></a></li>
        <li><a href="https://reddit.com/r/Terasology" class="btn-floating red darken-1 waves-effect waves"><i class="white-text fa fa-reddit"></i></a></li>
        <li><a href="https://plus.google.com/103835217961917018533" class="btn-floating red darken-2 waves-effect waves"><i class="fa fa-google-plus-square white-text"></i></a></li>
      </ul>
    </div>
    <div class="fixed-action-btn click-to-toggle horizontal hide-on-med-and-up">
      <a class="btn-floating btn-large red waves-effect waves">
        <i class="fa fa-address-book"></i>
      </a>
      <ul>
        <li><a href="https://www.facebook.com/Terasology" class="btn-floating blue darken-1 waves-effect waves"><i class="white-text fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/terasology" class="btn-floating light-blue darken-1 waves-effect waves"><i class="white-text fa fa-twitter"></i></a></li>
        <li><a href="https://discord.gg/4uKbB8J" class="btn-floating light-blue darken-3 waves-effect waves"><i class="white-text fa fa-comments"></i></a></li>
        <li><a href="https://www.youtube.com/user/blockmaniaTV" class="btn-floating red darken-1 waves-effect waves"><i class="white-text fa fa-youtube"></i></a></li>
        <li><a href="https://reddit.com/r/Terasology" class="btn-floating red darken-1 waves-effect waves"><i class="white-text fa fa-reddit"></i></a></li>
        <li><a href="https://plus.google.com/103835217961917018533" class="btn-floating red darken-2 waves-effect waves"><i class="fa fa-google-plus-square white-text"></i></a></li>
      </ul>
    </div>
<!-- Stop ignoring HTMLLintBear -->
