/*
Author: Blackplayer27 / 3000Lane
Realname: Mahmood Dhia
Date: 27.07.2012
For: Terasology <3
*/

body
{
background-color:#000000;
_behavior: url("csshover3.htc");
}
.main
{
	max-width: 512px;
	margin: 5% auto;
	text-align: center;
	opacity: 0;
}
.debug
{
	color:#FF0000;
	background-color:black;
	font-weight: bold;
	opacity: 0;
}
.splCont {
	display:none;
}
#footer {
  bottom:0%;
  color: #7F7F7F;
  font-size: 15px;
  font-weight: bold;
  text-align:center;
  position: fixed;
  width: 100%;
  z-index: 5;
}
div.background {
	position:absolute;
	left:0px;
	top:0px;
	z-index:-1;
}
div.background img {
	position:fixed;
	list-style: none;
	left:0px;
	top:0px;
}
div.background ul li.show {
	z-index:500
}
div.button img {
	-webkit-transform:scale(1);
	-webkit-box-shadow:0px 0px 30px #000000;
	-webkit-transition-duration: 0.5s;
	-moz-transform:scale(0.9);
	-moz-box-shadow:0px 0px 30px #000000;
	-moz-transition-duration: 0.5s;
	-o-transform:scale(0.9);
	-o-transition-duration: 0.5s;
	box-shadow:0px 0px 30px #000000;
}
div.button img:hover{
	-webkit-box-shadow:0px 0px 30px #666666;
	-webkit-transform:scale(1.2);
	-moz-box-shadow:0px 0px 30px #666666;
	-moz-transform:scale(1);
	-o-transform:scale(1);
	box-shadow:0px 0px 30px #666666;
}