---

---

<html>

<head>
    <meta charset="utf-8">
    <meta name="keywords" content="Terasology, Minecraft, Open, Source, Free, Mahmood, Dhia, Dwarf, Fortress, Dungeon, Keeper, Voxel, Creature, Creatures, Empire, Civilization, Portal, Moving, Blocks">
    <title>Terasology Project | About</title>
    {% include imports.html %}
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {% include nav.html %}
    <main>
        <div class="parallax-container">
            <div class="parallax"><img src="{{ site.baseurl }}{% if page.header-img %}{{ page.header-img }}{% else %}/img/ss_4.jpg{% endif %}"></div>
        </div>
        <div class="section white">
            <div class="container">
                <div class="row">
                    <div class="col s3 mascot"><img src="{{ site.baseurl }}/img/mascot.png"></div>
                </div>
                <div class="row">
                    <h1 class="header green-text text-darken-3">{{ page.title }}</h1>
                    <p class="grey-text text-darken-1">Posted by {{ page.author }} on {{ page.date | date: '%B %d, %Y' }}</p>
                    <div class="divider"></div>
                </div>
                <div class="row">
                {{ content }}

            </div>
        </div>
    </main>
    {% include footer.html %}
</body>

</html>
